header {
  background-color: #3c4146;
  border-bottom-color: #202326;
  color: #eeeeee;
  padding: 15px 0;
  a {
    color: #eeeeee;
    font-size: 1.6rem;
  }
  img {
    border-radius: 30%;
    margin-right: 10px;
  }
  .user-banner {
    img {
      border-radius: 30%;
      margin-right: 10px;
    }
  }
}